body {
    font-family: "Poppins", sans-serif;
    background-color: rgba(24, 26, 27, 0.999);
    color: whitesmoke;
    min-height: 100%;
    font-size: 1em; 
    cursor: pointer;
    overflow: hidden;
  }
  body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2d2dff, #ff2f2f);
    -webkit-clip-path: circle(25% at right);
    clip-path: circle(25% at right);
    z-index: -5;
  }
  
  body::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(#870aec, #6e0b81);
    clip-path: circle(30% at 10% 10%);
    -webkit-clip-path: circle(30% at 10% 10%);
    z-index: -5;
  }
  
  .navbar {
    background-color: #141313;
    color: #fff;
    border-bottom: 1px solid #666a6d;
    -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
    box-shadow: 0 8px 10px -6px rgb(0, 0, 0);
  }
  
  .navbar .navbar-toggler-icon::after {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 30px;
    color: rgb(255, 255, 255);
  }

.center-vert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-credit {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
}

.img {
    width: 105%;
    max-width: 1400px;
    border-style: solid;
    border-color: #4f5360;
    border-width: 0px
}
input[type=text] {
        width: 250px;
        background-color: rgba(24, 26, 27, 0.999);
        border-color: transparent;
        text-align: center;
        outline-width: 0;
        color: gray;
        font-family: "Lucida Handwriting", "Times New Roman";
}
input[type=text]:focus {
    outline-width: 0;
}
.api-form {
    position: absolute;
    top: 95%;
}
#sticky-footer {
    position: sticky;
    top: 100%;
    background: #080808;
    padding: 11px;
  }