<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Succes</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
  <link rel="stylesheet" href="../static/css/404/style.css">
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
  <script src='https://cdn.rawgit.com/tinybigideas/jGravity/f3265bdd/jGravity-min.js'></script>
  <script  src="../static/js/404/main.js"></script> 
  <link rel="icon" href="../static/img/logo.png">
</head>
<body>
<span></span></i><h2><span> D</span><span>O</span><span>NE</span></h2>
  <h1>Imagine removed!</h1>
  <button name="closeIt" onclick="window.close();">Click to exit </button>
</body>
</html>
